* {
  padding: 0rem;
  box-sizing: border-box;
  margin: 0rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

:root {
  --primary-color: #00ff9c;
  --secondary-color: #ffe700;
  --white-color: #ffffff;
  --black-color: #000000;
}
